body {
  background-color: #aec5eb;
}

.grid {
  display: grid;
  grid-template-columns: 95vw;
  grid-template-rows: 6vh auto 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  gap: 10px 10px;
}

.box-1 {
  grid-area: header;
  background-color: #3a405a;
}

.box-2 {
  font-family: amblebold;
  align-content: center;
}

.box-3 {
  grid-area: footer;
  background-color: #3a405a;
  align-content: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.footerTxt {
  color: #f9dec9;
  font-family: amblebold;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box2 {
  background-color: #e9afa3;
  box-sizing: border-box;
  width: 25vw;
  height: 25vh;
  border-radius: 10%;
  text-align: center;
  font-family: amblebold;
  font-size: 150%;
}
